*/xcuserdata/*
*.xcuserdata

AbacatxiApp/AbacatxiApp.xcodeproj/project.xcworkspace/xcuserdata/
AbacatxiApp/AbacatxiApp.xcodeproj/project.xcworkspace/xcuserdata/*
AbacatxiApp/AbacatxiApp.xcodeproj/xcuserdata/augustoqueiroz.xcuserdatad

.DS_Store
